# Автоматическое определение текстовых файлов и нормализация окончаний строк
* text=auto

# Указываем, что файлы кода — это текст
*.cs text diff=csharp
*.sln text eol=crlf
*.csproj text eol=crlf
*.config text eol=crlf

# Указываем, что ресурсы и картинки — это бинарные файлы
*.resx binary
*.ico binary
*.png binary
