<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- add name = "TranslatorAppDb" строка подключения к БД SQLite для приложения-переводчика -->
		<add name="TranslatorAppDb"
			 connectionString="Data Source=translator_app_db;Version=3;"
			 providerName="System.Data.SQLite"/>
	</connectionStrings>

	<appSettings>
		<!-- add key = "ApiKey" строка подключения к API для приложения-переводчика -->
		<add key="ApiKey" value="ed60eb93-5837-402b-a070-4f8cbf9796bb:fx"/>
	</appSettings>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>