<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<!-- Пример подключения к БД SQLite для разработчиков в команде,
			 который можно использовать в connectionStrings.config файле у каждого локально (отдельно).
			 TranslatorAppDb имя строки подключения в конфигурации проекта файла App.config.
	add name = "TranslatorAppDb" строка подключения к БД SQLite для приложения-переводчика -->
	<add name="TranslatorAppDb"
		 connectionString="Data Source=translator_app_db;Version=3;"
		 providerName="System.Data.SQLite"/>
</connectionStrings>