<?xml version="1.0" encoding="utf-8"?>
	<connectionStrings>
		<!-- add name = "TranslatorAppDb" строка подключения к БД MySQL для приложения-переводчика -->
		<add name="TranslatorAppDb"
			 connectionString="Server=127.0.0.1;Port=3306;Database=translator_app_db;Uid=practic_translator_app;Pwd=practic_translator_app_passwordC#;"
			 providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>